@model eNompilo.v3._0._1.Models.SystemUsers.PatientFile

@{
    ViewData["Title"] = "Details";
}

<div class="margined-page pt-4" style="margin-left:auto;margin-right:auto;">

    <div>
        <h2>PatientFile</h2>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Patient)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Patient.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MedicalHistory)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MedicalHistory.GeneralAllergies)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Archived)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Archived)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>



