@model eNompilo.v3._0._1.Models.ViewModels.PatientDashboardViewModel;
@inject IHttpContextAccessor contextAccessor;

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="margined-page pt-4">
    <h1>Patient Dashboard</h1>

    <div class="d-flex justify-content-evenly">
        <div class="page-content page-container" id="page-content">
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title">PATIENT HEALTH HISTORY</h4>
                    <table class="table table-borderless">
                        <thead class="table table-bordered">
                            <tr>
                                <th>Previous Diagnosis</th>
                                <th>Previous Prescriptions</th>
                                <th>General Allergies</th>
                                <th>Medical Allergies</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.PatientFiles.MedicalHistory.PreviousDiagnoses </td>
                                <td>@Model.PatientFiles.MedicalHistory.PreviousMedication </td>
                                <td>@Model.PatientFiles.MedicalHistory.GeneralAllergies </td>
                                <td>@Model.PatientFiles.MedicalHistory.MedicationAllergies </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            @*Card group*@
            <div class="card-group row d-flex mb-4">
                @if (Model.Medication.ToList().Count > 0)
                {
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <strong>Medication Prescriptions</strong>
                                @*@foreach (var item in Model.Medication)
                                {
                                    <div class="row">
                                        <div class="card-body col">
                                            <strong>@item.SessionNotes.PrescriptionMeds</strong>
                                        </div>
                                        <div class="card-body col">
                                            <p class="card-text">@item.SessionNotes.PrescriptionMeds</p>
                                        </div>
                                    </div>
                                }*@
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <strong>Medication Prescriptions</strong>
                                <div class="row">
                                    <p>No Record Found to be Retrieved</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            @*
            @if (Model.Session.Count > 0)
            {
            <div class="col">
            <div class="card">
            <div class="card-header">
            <strong>Diagnosis</strong>
            @foreach (var item in Model.Session)
            {
            <div class="row">
            <div class="card-body col">
            <strong>@item.PotentialCondition</strong>
            </div>
            <div class="card-body col">
            <p class="card-text">@item.ConditionIndication</p>
            </div>
            </div>
            }
            </div>
            </div>
            </div>
            }
            else
            {
            <div class="col">
            <div class="card">
            <div class="card-header">
            <strong>Diagnosis</strong>
            <div class="row">
            <div class="card-body col">
            <p class="card-text">No Record Found to be Retrieved.</p>
            </div>
            </div>
            </div>
            </div>
            </div>
            }
            </div>
            *@
            @*Third Card*@
            @if (Model.GeneralAppointments.ToList().Count > 0)
            {
                 <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">UPCOMING APPOINTMENTS</h4>
                        <table class="table table-borderless">
                            <thead class="table table-bordered">
                                <tr>
                                    <th class="col-2">Full Name</th>
                                    <th class="col-2">Appointment Date</th>
                                    <th class="col-2">Appointment Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.GeneralAppointments)
                                {
                                    <tr>
                                        <td>@item.Patient.FirstName @item.Patient.LastName</td>
                                        <td>@item.PreferredDate.Value.ToString("dd/MMMM/yyyy")</td>
                                        <td>@item.PreferredTime.Value.ToString("HH:mm")</td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

             }
            else
            {
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">UPCOMING APPOINTMENTS</h4>
                        <table class="table table-borderless">
                            <thead class="table table-bordered">
                                <tr>
                                    <th class="col-2">Full Name</th>
                                    <th class="col-2">Appointment Date</th>
                                    <th class="col-2">Appointment Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="2">No record found to be retrieved.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            } 
        </div>
    </div>
</div>