@model IEnumerable<eNompilo.v3._0._1.Models.Vaccination.DoseTracking>
@inject eNompilo.v3._0._1.Areas.Identity.Data.ApplicationDbContext dbContext

@{
    ViewData["Title"] = "ViewDoseTrackings";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

    string patientName = "";
}

<h1>View Dose Trackings</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="dtViewDoses">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VaccineInventoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAdministered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondDose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Patient.FirstName @item.Patient.LastName
                </td>
                <td>
                    @item.VaccinationInventory.VaccineName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAdministered)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecondDose)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SiteAddress)
                </td>
                <td>
                    <a asp-action="Certificate" asp-route-id="@item.ID" data-bs-toggle="tooltip" data-bs-placement="top" title="Certificate"><i class="bi bi-file-earmark-person-fill"></i></a> |
                    <a asp-action="Remove" asp-route-id="@item.ID"><i class="bi bi-trash-fill text-danger"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
