@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
}

<a asp-action="Index" asp-controller="Home" style="display:flex;align-items: center; text-decoration:none; color: #1e36cc; font-weight: 500;"><i class="bi bi-arrow-left-square-fill" style="color: #1e36cc; font-size:25px;"></i> &nbsp; <span>Back to Home</span></a>
<div class="row">
    <form id="account" method="post" class="p-5">
        <h1 class="text-center" style="color: #2036d9;"><strong>Log in</strong></h1>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <br/>
        <div class="form-group mb-4">
            <label class="form-label">Username</label>
                    <input asp-for="Input.IdNumber" class="form-control" autocomplete="username" aria-required="true" placeholder="Enter ID Number"/>
                    <span asp-validation-for="Input.IdNumber" class="text-danger"></span>
                </div>
        <div class="form-group mb-4">
            <label asp-for="Input.Password" class="form-label">Password</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Enter Your Password"/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
        <div form-group py-2 mt-3>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg" style="background-color: #1e36cc; color:#ced4f8;">Log in</button>
                </div>
                <div>
                    @*<p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>*@
                    <p>
                <a asp-controller="Register" asp-action="Patient">Register as a new user</a>
                    </p>
                    @*<p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>*@
                </div>
            </form>
   @* <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
