@using Microsoft.AspNetCore.Identity;
@using eNompilo.v3._0._1.Areas.Identity.Data;
@using eNompilo.v3._0._1.Models.SystemUsers;
@using eNompilo.v3._0._1.Constants;
@using eNompilo.v3._0._1.Models.ViewModels;
@inject eNompilo.v3._0._1.Areas.Identity.Data.ApplicationDbContext _context
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IHttpContextAccessor contextAccessor;

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/eNompilo.v3._0._1.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<link rel="icon" type="image/x-icon" href="~/img/Adobe_Express_20230527_0911500_3_4496_-removebg-preview.png" />
	<style>
		.dashboard-nav-item.active{
			background: rgba(6, 11, 40, 0.25);
			color: rgba(255, 255, 255, 0.75)
		}
	</style>
</head>
<body>
	<div>
		<div class='dashboard'>
			@{

				var user = _context.Users.Where(u => u.Id == UserManager.GetUserAsync(User).Result.Id).FirstOrDefault();
				int? adminId = null;
				int? patientId = null;
				int? practitionerId = null;
				if (User.IsInRole(RoleConstants.Admin) == true)
				{
					adminId = _context.tblAdmin.Where(a => a.UserId == user.Id).FirstOrDefault().Id;
				}
				else if (User.IsInRole(RoleConstants.Patient) == true)
				{
					patientId = _context.tblPatient.Where(p => p.UserId == user.Id).FirstOrDefault().Id;
				}
				else if (User.IsInRole(RoleConstants.Practitioner) == true)
				{
					practitionerId = _context.tblPractitioner.Where(p => p.UserId == user.Id).FirstOrDefault().Id;
				}

			}
			@if (User.IsInRole(RoleConstants.Patient))
			{
				<div class="dashboard-nav" style="background:#060b28">

					@* a href="#!" class="menu-toggle" style="position:absolute;top:0;left:0;z-index:auto;"><i class=" bi bi-list"></i></a> *@
					<a asp-controller="Home" asp-action="Index" class="brand-logo"></a>
					<span style="display:flex;justify-content:center;"><img src="~/img/Adobe_Express_20230527_0911500_1_4494_-removebg-preview.png" style="width:75%; margin-left:auto;margin-right:auto;" /></span>
					<nav class="dashboard-nav-list" style="font-size:1.175rem;">
						<a asp-controller="Home" asp-action="Index" class="dashboard-nav-item mt-4">
							<i class="bi bi-house-door-fill me-2" style="font-size:1.5rem;"></i> Home
						</a>

						@* <a asp-controller="Patient" asp-action="PatientDashboard" class="dashboard-nav-item active">
					<i class="bi bi-speedometer me-2" style="font-size:1.5rem;"></i> Dashboard
					</a> *@

						<a asp-controller="Users" asp-action="UserProfile" asp-route-id="@patientId" class="dashboard-nav-item">
							<i class="bi bi-person-circle me-2" style="font-size:1.5rem;"></i> Profile
						</a>

						@* <div class='dashboard-nav-dropdown'>
					<a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
					<i class="bi bi-calendar-plus-fill me-2" style="font-size:1.5rem;"></i> Book Appointment
					</a>
					<div class='dashboard-nav-dropdown-menu'>
					<a asp-controller="GeneralAppointment" asp-action="Book" class="dashboard-nav-dropdown-item">Book an Appointment</a>
					<a asp-controller="CounsellingAppointment" asp-action="Book" class="dashboard-nav-dropdown-item">Book to See a Counsellor</a>
					<div class='dashboard-nav-dropdown'>
					</div>
					<a asp-controller="VaccinationAppointment" asp-action="Book" class="dashboard-nav-dropdown-item">Book to Get Vaccinated</a>
					<a asp-controller="SMPAppointment" asp-action="SMPBookAppointment" class="dashboard-nav-dropdown-item">Book for a Medical Procedure</a>
					</div>
					</div> *@

						<div class='dashboard-nav-dropdown'>
							<a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
								<i class="bi bi-calendar-plus-fill me-2" style="font-size:1.5rem;"></i> General Appointments
							</a>
							<div class='dashboard-nav-dropdown-menu'>
								<a asp-controller="GeneralAppointment" asp-action="Book" class="dashboard-nav-dropdown-item dashboard-nav-item">Book an Appointment</a>
								<a asp-controller="GeneralAppointment" asp-action="Index" class="dashboard-nav-dropdown-item dashboard-nav-item">View Appointments</a>
							</div>
						</div>

						<div class='dashboard-nav-dropdown'>
							<a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
								<i class="bi bi-journal-text me-2" style="font-size:1.5rem;"></i> Counselling
							</a>
							<div class='dashboard-nav-dropdown-menu'>
								<a asp-controller="CounsellingAppointment" asp-action="Book" class="dashboard-nav-dropdown-item dashboard-nav-item">Book to See a Counsellor</a>
								<a asp-controller="CounsellingAppointment" asp-action="Index" class="dashboard-nav-dropdown-item dashboard-nav-item">View All Counselling Appointments</a>
								<a asp-controller="Counselling" asp-action="AdditionalResources" class="dashboard-nav-dropdown-item dashboard-nav-item">Additional Resources</a>
								<a asp-controller="Counselling" asp-action="BreathingExercise" class="dashboard-nav-dropdown-item dashboard-nav-item">Breathing Exercises</a>
								<a asp-controller="Counselling" asp-action="MentalQuiz" class="dashboard-nav-dropdown-item dashboard-nav-item">Mental State Quiz</a>
							</div>
						</div>

						<div class='dashboard-nav-dropdown'>
							<a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
								<i class="bi bi-people me-2" style="font-size:1.5rem;"></i> Family Planning
							</a>
							<div class='dashboard-nav-dropdown-menu'>
								<a asp-controller="Family" asp-action="RecommendContraceptive" class="dashboard-nav-dropdown-item dashboard-nav-item">+ Recommend Contraceptive</a>
								<a asp-controller="Family" asp-action="Info" class="dashboard-nav-dropdown-item dashboard-nav-item">+ Contraceptive Info</a>
								<a asp-controller="Family" asp-action="Index" class="dashboard-nav-dropdown-item dashboard-nav-item">+ Booking</a>
								<a asp-controller="Family" asp-action="PatientRecords" class="dashboard-nav-dropdown-item dashboard-nav-item">+ User Report</a>
								<a asp-controller="Family" asp-action="PatientRecord" class="dashboard-nav-dropdown-item dashboard-nav-item">+ View Records</a>

								@*  Give feedback about the contracptive, change the action from info to feedback*@
							</div>
						</div>

                        <div class='dashboard-nav-dropdown'>
                            <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                                <i class="bi bi-person-fill-slash me-2" style="font-size:1.5rem;"></i> Gender-Based Violence
                            </a>
                            <div class='dashboard-nav-dropdown-menu'>
								<a asp-controller="GbvFaq" asp-action="Index" class="dashboard-nav-dropdown-item dashboard-nav-item">GBV Frequently Asked Questions</a>
								<a asp-controller="ReportGBv" asp-action="report" class="dashboard-nav-dropdown-item dashboard-nav-item">Report GBV</a>
								<a asp-controller="GbvSupport" asp-action="Create" class="dashboard-nav-dropdown-item dashboard-nav-item">Support Group Registration</a>
								<a asp-controller="GbvSupport" asp-action="Index" class="dashboard-nav-dropdown-item dashboard-nav-item">My Details</a>
                                @*  Give feedback about the contracptive, change the action from info to feedback*@
                            </div>
                        </div>

						<div class='dashboard-nav-dropdown'>
							<a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
								<i class="bi bi-virus2" style="font-size:1.5rem;"></i> Vaccination
							</a>
							<div class='dashboard-nav-dropdown-menu'>
								<a asp-controller="VaccinationAppointment" asp-action="Book" class="dashboard-nav-dropdown-item dashboard-nav-item">Book for a Vaccine</a>
								<a asp-controller="VaccinationAppointment" asp-action="Index" class="dashboard-nav-dropdown-item dashboard-nav-item">View Vaccination Appointments</a>
								@if (@_context.tblDoseTracking.Where(x => x.PatientId == patientId).FirstOrDefault() != null)
								{
									<a asp-controller="Vaccination" asp-action="Certificate" asp-route-id="@_context.tblDoseTracking.Where(x => x.PatientId == patientId).FirstOrDefault().ID" class="dashboard-nav-dropdown-item dashboard-nav-item">Certificate</a>
								}

							</div>
						</div>

						<div class="dashboard-nav-dropdown">
							<a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
								<i class="bi bi-heart-pulse" style="font-size:1.5rem;"></i> Specialised Medical Procedures
							</a>
							<div class="dashboard-nav-dropdown-menu">
								<a asp-controller="SMPAppointment" asp-action="Index" class="dashboard-nav-dropdown-item dashboard-nav-item">My Appointments</a>
								<a asp-controller="SMPAppointment" asp-action="SMPBookAppointment" class="dashboard-nav-dropdown-item dashboard-nav-item">Book A Medical Procedure </a>
							</div>
						</div>

						<a asp-controller="Practitioner" asp-action="Index" class="dashboard-nav-item"><i class="bi bi-people-fill me-2" style="font-size:1.5rem;"></i> Clinic Staff</a>


						<div class="nav-item-divider"></div>
						<a asp-controller="Home" asp-action="Emergencyhotlines" data-bs-toggle="tooltip" data-bs-placement="top" title="Emergency Hotlines" class="dashboard-nav-item"><i class="bi bi-phone-vibrate-fill me-2" style="font-size:1.5rem; color:red"></i> Emergency Hotlines</a>
						<a href="#" class="dashboard-nav-item" data-bs-toggle="modal" data-bs-target="#myModal"><i class="bi bi-door-open-fill me-2" style="color:red; font-size:1.5rem;"></i> Logout</a>
					</nav>
				</div>

			}
			else if (User.IsInRole(RoleConstants.Practitioner))
			{
				<div class="dashboard-nav" style="background:#060b28">

					<a asp-controller="Home" asp-action="Index" class="brand-logo"></a>
					<span style="display:flex;justify-content:center;"><img src="~/img/Adobe_Express_20230527_0911500_1_4494_-removebg-preview.png" style="width:75%; margin-left:auto;margin-right:auto;" /></span>
					<nav class="dashboard-nav-list" style="font-size:1.175rem;">

						<a asp-controller="Users" asp-action="UserProfile" asp-route-id="@practitionerId" class="dashboard-nav-item mt-4">
							<i class="bi bi-person-circle me-2" style="font-size:1.5rem;"></i> Profile
						</a>

						<div class='dashboard-nav-dropdown'>
							<a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
								<i class="bi bi-calendar-check-fill me-2" style="font-size:1.5rem;"></i> General Appointment
							</a>
							<div class='dashboard-nav-dropdown-menu'>
								<a asp-controller="Practitioner" asp-action="PendingAppointments" class="dashboard-nav-dropdown-item" style="text-align:center;">All Pending Appointments</a>
								<a asp-controller="GeneralAppointment" asp-action="Index" class="dashboard-nav-dropdown-item">Confirmed General Bookings</a>

							</div>
						</div>

						@if (User.IsInRole(RoleConstants.Practitioner) && _context.tblPractitioner.Where(x => x.Id == practitionerId).FirstOrDefault().PractitionerType == PractitionerType.Counsellor)
						{
							<div class='dashboard-nav-dropdown'>
								<a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
									<i class="bi bi-journal-text me-2" style="font-size:1.5rem;"></i> Counselling
								</a>
								<div class='dashboard-nav-dropdown-menu'>
									<a asp-controller="CounsellingAppointment" asp-action="Book" class="dashboard-nav-dropdown-item">Book to See a Counsellor</a>
									<a asp-controller="CounsellingAppointment" asp-action="Index" class="dashboard-nav-dropdown-item">Confirmed Counselling Appointments</a>
									<a asp-controller="Counselling" asp-action="AddResources" class="dashboard-nav-dropdown-item">Add Self-Help Resources</a>
									<a asp-controller="Counselling" asp-action="AdditionalResources" class="dashboard-nav-dropdown-item">Additional Resources</a>
								</div>
							</div>
						}

						@if (User.IsInRole(RoleConstants.Practitioner) && _context.tblPractitioner.Where(x => x.Id == practitionerId).FirstOrDefault().PractitionerType != PractitionerType.Counsellor)
						{
							<div class="dashboard-nav-dropdown">
								<a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
									<i class="bi bi-heart-pulse" style="font-size:1.5rem;"></i> Specialised Medical Procedures
								</a>
								<div class="dashboard-nav-dropdown-menu">
									<a asp-controller="Home" asp-action="ProcedureVideos" class="dashboard-nav-dropdown-item">Procedure Videos</a>
									<a asp-controller="SMPAppointment" asp-action="Index" class="dashboard-nav-dropdown-item">My Appointments</a>
									<a asp-controller="SMPAppointment" asp-action="SMPBookAppointment" class="dashboard-nav-dropdown-item">Book A Patient In</a>

								</div>
							</div>

							@*for the vaccination part on the dashboard*@
							<div class="dashboard-nav-dropdown">
								<a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
									<i class="bi bi-virus2" style="font-size:1.5rem;"></i> Vaccination
								</a>
								<div class="dashboard-nav-dropdown-menu">
									<a asp-controller="Vaccination" asp-action="VaccinationInventory" class="dashboard-nav-dropdown-item">Add Vaccines</a>
									<a asp-controller="Vaccination" asp-action="Index" class="dashboard-nav-dropdown-item">Inventory</a>
									<a asp-controller="Vaccination" asp-action="DoseTracking" class="dashboard-nav-dropdown-item">Dose Tracking</a>
									<a asp-controller="Vaccination" asp-action="ViewDoseTrackings" class="dashboard-nav-dropdown-item">Doses of Patients</a>
									<a asp-controller="VaccinationAppointment" asp-action="Book" class="dashboard-nav-dropdown-item">Book Patient for a Vaccine</a>
									<a asp-controller="VaccinationAppointment" asp-action="Index" class="dashboard-nav-dropdown-item">Confirmed Vaccination Appointments</a>
								</div>
							</div>

							<div class="dashboard-nav-dropdown">
								<a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
									<i class="bi bi-person-fill-slash me-2" style="font-size:1.5rem;"></i> Gender-Based Violence
								</a>

								<div class="dashboard-nav-dropdown-menu">
									<a asp-controller="GbvRecommendations" asp-action="Recommendations" class="dashboard-nav-dropdown-item">Make new Recommendation</a>
									<a asp-controller="GbvRecommendations" asp-action="Index" class="dashboard-nav-dropdown-item">Recommendations List</a>

								</div>
							</div>

							<div class="dashboard-nav-dropdown">
								<a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
									<i class="bi bi-people" style="font-size:1.5rem;"></i> Family planning
								</a>
								<div class="dashboard-nav-dropdown-menu">
									<a asp-controller="Family" asp-action="IndexList" class="dashboard-nav-dropdown-item">Booking list</a>
									<a asp-controller="FamilyPlanningAppointment" asp-action="Book" class="dashboard-nav-dropdown-item">Book Patient for Family Planning</a>
									<a asp-controller="FamilyPlanningAppointment" asp-action="Index" class="dashboard-nav-dropdown-item">Confirmed Family Planning Appointments</a>

								</div>


							</div>
						}



						<div class="dashboard-nav-dropdown">
							<a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
								<i class="bi bi-people-fill" style="font-size:1.5rem;"></i> Personnel
							</a>
							<div class="dashboard-nav-dropdown-menu">
								<a asp-controller="Patient" asp-action="Index" class="dashboard-nav-item"> Patients</a>
								<a asp-controller="Practitioner" asp-action="Index" class="dashboard-nav-item"> Colleagues</a>
							</div>
						</div>

						<a asp-controller="Session" asp-action="Index" asp-route-id="@practitionerId" class="dashboard-nav-item">
							<i class="bi bi-clipboard-check-fill me-2" style="font-size:1.5rem;"></i> Patient Visits Record
						</a>

						<div class="nav-item-divider"></div>
						<a href="#" class="dashboard-nav-item" data-bs-toggle="modal" data-bs-target="#myModal"><i class="bi bi-door-open-fill me-2" style="color:red; font-size:1.5rem;"></i> Logout</a>
					</nav>
				</div>
			}
			else if (User.IsInRole(RoleConstants.Admin))
			{
				<div class="dashboard-nav" style="background:#060b28">

					@* a href="#!" class="menu-toggle" style="position:absolute;top:0;left:0;z-index:auto;"><i class=" bi bi-list"></i></a> *@
					<a asp-controller="Home" asp-action="Index" class="brand-logo"></a>
					<span style="display:flex;justify-content:center;"><img src="~/img/Adobe_Express_20230527_0911500_1_4494_-removebg-preview.png" style="width:75%; margin-left:auto;margin-right:auto;" /></span>
					<nav class="dashboard-nav-list" style="font-size:1.175rem;">
						@*<a asp-controller="Home" asp-action="Index" class="dashboard-nav-item mt-4">
					<i class="bi bi-house-door-fill me-2" style="font-size:1.5rem;"></i> Home
					</a>*@
						@* <a asp-controller="Home" asp-action="AdminDashboard" class="dashboard-nav-item active">
					<i class="bi bi-speedometer me-2" style="font-size:1.5rem;"></i> Dashboard
					</a> *@

						<a asp-controller="Users" asp-action="UserProfile" asp-route-id="@adminId" class="dashboard-nav-item active">
							<i class="bi bi-person-circle me-2" style="font-size:1.5rem;"></i> Profile
						</a>
						@* <a href="#" class="dashboard-nav-item"><i class="bi bi-calendar-check-fill"></i> Appointment </a> *@
						<div class='dashboard-nav-dropdown'>
							<a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
								<i class="bi bi-people-fill me-2" style="font-size:1.5rem;"></i> Users
							</a>
							<div class='dashboard-nav-dropdown-menu'>
								<a asp-controller="Users" asp-action="CreateUser" class="dashboard-nav-dropdown-item">Create User</a>
								<a asp-controller="Users" asp-action="Index" class="dashboard-nav-dropdown-item">All System Users</a>
								<a asp-controller="Patient" asp-action="Index" class="dashboard-nav-dropdown-item">Patient Users</a>
								<a asp-controller="Practitioner" asp-action="Index" class="dashboard-nav-dropdown-item">Practitioner Users</a>
							</div>
						</div>


						<div class="nav-item-divider"></div>
						<a href="#" class="dashboard-nav-item" data-bs-toggle="modal" data-bs-target="#myModal"><i class="bi bi-door-open-fill me-2" style="color:red; font-size:1.5rem;"></i> Logout</a>
					</nav>
				</div>

			}
			else if (User.IsInRole(RoleConstants.Receptionist))
			{
				<div class="dashboard-nav" style="background:#060b28">

					@* a href="#!" class="menu-toggle" style="position:absolute;top:0;left:0;z-index:auto;"><i class=" bi bi-list"></i></a> *@
					<a asp-controller="Home" asp-action="Index" class="brand-logo"></a>
					<span style="display:flex;justify-content:center;"><img src="~/img/Adobe_Express_20230527_0911500_1_4494_-removebg-preview.png" style="width:75%; margin-left:auto;margin-right:auto;" /></span>
					<nav class="dashboard-nav-list" style="font-size:1.175rem;">
						@*<a asp-controller="Home" asp-action="Index" class="dashboard-nav-item mt-4">
					<i class="bi bi-house-door-fill me-2" style="font-size:1.5rem;"></i> Home
					</a>*@
						@* <a asp-controller="Home" asp-action="AdminDashboard" class="dashboard-nav-item active">
					<i class="bi bi-speedometer me-2" style="font-size:1.5rem;"></i> Dashboard
					</a> *@

						<a asp-controller="Users" asp-action="UserProfile" asp-route-id="@adminId" class="dashboard-nav-item active">
							<i class="bi bi-person-circle me-2" style="font-size:1.5rem;"></i> Profile
						</a>
						@* <a href="#" class="dashboard-nav-item"><i class="bi bi-calendar-check-fill"></i> Appointment </a> *@
						<div class='dashboard-nav-dropdown'>
							<a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
								<i class="bi bi-people-fill me-2" style="font-size:1.5rem;"></i> Users
							</a>
							<div class='dashboard-nav-dropdown-menu'>
								<a asp-controller="Users" asp-action="CreateUser" class="dashboard-nav-dropdown-item">Create User</a>
								<a asp-controller="Users" asp-action="Index" class="dashboard-nav-dropdown-item">All System Users</a>
								<a asp-controller="Patient" asp-action="Index" class="dashboard-nav-dropdown-item">Patient Users</a>
								<a asp-controller="Practitioner" asp-action="Index" class="dashboard-nav-dropdown-item">Practitioner Users</a>
							</div>
						</div>


						<div class="nav-item-divider"></div>
						<a href="#" class="dashboard-nav-item" data-bs-toggle="modal" data-bs-target="#myModal"><i class="bi bi-door-open-fill me-2" style="color:red; font-size:1.5rem;"></i> Logout</a>
					</nav>
				</div>

			}

			<div class="modal fade" id="myModal" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
							<div class="modal-header">
								<h5 class="text-danger">Logout</h5>
								@*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
							</div>
							<div class="modal-body">
								<p>Are you sure you wanna logout?</p>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-danger">Logout</button>
								<span class="btn btn-secondary" data-bs-dismiss="modal">Close</span>
							</div>

						</form>
					</div>
				</div>
			</div>

			<div class='dashboard-app'>
				@* <header class='dashboard-toolbar'></header> *@
				<a href="#!" class="menu-toggle"><i class="bi bi-list" style="color: #443ea2;"></i></a>
				<div class='dashboard-content'>
					<div class='container'>
						@RenderBody()
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="https://code.jquery.com/jquery-3.7.0.js" asp-append-version="true"></script>
	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js" asp-append-version="true"></script>
	<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false){
	<script>

		const mobileScreen = window.matchMedia("(max-width: 990px )");
		$(document).ready(function () {
			$(".dashboard-nav-dropdown-toggle").click(function () {
				$(this).closest(".dashboard-nav-dropdown")
					.toggleClass("show")
					.find(".dashboard-nav-dropdown")
					.removeClass("show");
				$(this).parent()
					.siblings()
					.removeClass("show");
			});
			$(".menu-toggle").click(function () {
				if (mobileScreen.matches) {
					$(".dashboard-nav").toggleClass("mobile-show");
				} else {
					$(".dashboard").toggleClass("dashboard-compact");
				}
			});
		});
	</script>
	<script>
		new DataTable('#dtCouApp');
		new DataTable('#dtFamPlanApp');
		new DataTable('#dtGenApp');
		new DataTable('#dtPatient');
		new DataTable('#dtPatientFile');
		new DataTable('#dtPractitioner');
		new DataTable('#dtPractitionerDiary');
		new DataTable('#dtSession');
		new DataTable('#dtUsers');
		new DataTable('#dtVacApp');
		new DataTable('#dtVaxInventory');
		new DataTable('#dtViewDoses');
		new DataTable('#dtRepGbv');
		new DataTable('#dtPendingApps');
	</script>
	<script>
		let navigation = document.querySelector(".dashboard-nav-list");
		let btns = navigation.querySelectorAll(".dashboard-nav-item");
		for (let i = 0; i < btns.length; i++){
			btns[i].addEventListiner("click", function () {
				let current = document.querySelector(".active");
				current[0].className = current[0].className.replace(" active", "");
				this.className += " active";
			});
		}
	</script>
	}
</body>
</html>
