@using Microsoft.AspNetCore.Identity
@using eNompilo.v3._0._1.Areas.Identity.Data
@using eNompilo.v3._0._1.Models.SystemUsers;
@using eNompilo.v3._0._1.Constants;

@model eNompilo.v3._0._1.Models.ViewModels.HomePageViewModel;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IHttpContextAccessor contextAccessor;
@inject eNompilo.v3._0._1.Areas.Identity.Data.ApplicationDbContext _context

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@{
    int? userTypeId = null;
    if(User.IsInRole(RoleConstants.Patient))
        userTypeId = _context.tblPatient.Where(p => p.UserId == UserManager.GetUserId(User).ToString()).FirstOrDefault().Id;
    else if(User.IsInRole(RoleConstants.Admin))
        userTypeId = _context.tblAdmin.Where(p => p.UserId == UserManager.GetUserId(User).ToString()).FirstOrDefault().Id;
    else if(User.IsInRole(RoleConstants.Practitioner))
        userTypeId = _context.tblPractitioner.Where(p => p.UserId == UserManager.GetUserId(User).ToString()).FirstOrDefault().Id;
    else if(User.IsInRole(RoleConstants.Receptionist))
        userTypeId = _context.tblReceptionist.Where(p => p.UserId == UserManager.GetUserId(User).ToString()).FirstOrDefault().Id;
}

<ul class="navbar-nav">
    <li class="me-2 text-center">
        <a asp-controller="Home" asp-action="Emergencyhotlines" data-bs-toggle="tooltip" data-bs-placement="top" title="Emergency Hotlines"><i class="bi bi-phone-vibrate-fill" style="font-size:33px; color:red"></i></a>
    </li>
    
    @if (SignInManager.IsSignedIn(User))
    {
        @if(User.IsInRole(RoleConstants.Patient)){
        <li class="nav-item dropdown">


                <a id="dropdownMenuButton1" class="btn nav-link nav-link-2 text-dark text-center dropdown-toggle" href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false"><strong>
                    
                    @if (Model.PersonalDetails.ProfilePicture == null)
                        {
                            <img src="~/img/uploads/DefaultProfilePicture.png" style="width:30px;" class="rounded-circle me-2">
                        }
                    else
                        {
                            <img src="@("~/img/uploads/"+Model.PersonalDetails.ProfilePicture)" asp-append-version="true" class="rounded-circle me-2" style="width:36px; object-fit:cover;" />
                        } @UserManager.GetUserAsync(User).Result.Titles. @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName!</strong></a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item nav-link nav-link-2 text-dark text-center" asp-controller="Users" asp-action="UserProfile" asp-route-id="@userTypeId" title="Manage"><strong>Dashboard</strong></a></li>
                    @* <li><a class="dropdown-item nav-link nav-link-2 text-dark text-center" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><strong>Account</strong></a></li> *@
                    <li class="nav-item ">
                        <a class="dropdown-item nav-link nav-link-2 btn btn-link text-dark text-center" href="#" data-bs-toggle="modal" data-bs-target="#myModal"><strong>Logout</strong> <i class="bi bi-door-open-fill" style="color:red"></i></a>
                    </li>
                </ul>
        </li>
        }
        else if(User.IsInRole(RoleConstants.Practitioner)){
        <li class="nav-item dropdown">


                <a id="dropdownMenuButton1" class="btn nav-link nav-link-2 text-dark text-center dropdown-toggle" href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false"><strong>
                    @if (Model.Practitioner.ProfilePicture == null)
                        {
                            <img src="~/img/uploads/DefaultProfilePicture.png" style="width:30px;" class="rounded-circle me-2">
                        }
                        else
                        {
                            <img src="@("~/img/uploads/"+Model.Practitioner.ProfilePicture)" asp-append-version="true" class="rounded-circle me-2" style="width:36px; object-fit:cover;" alt="image not null" />
                        } @UserManager.GetUserAsync(User).Result.Titles. @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName!</strong></a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item nav-link nav-link-2 text-dark text-center" asp-controller="Users" asp-action="UserProfile" asp-route-id="@userTypeId" title="Manage"><strong>Dashboard</strong></a></li>
                    <li class="nav-item">
                        <a class="dropdown-item nav-link nav-link-2 btn btn-link text-dark text-center" href="#" data-bs-toggle="modal" data-bs-target="#myModal"><strong>Logout</strong> <i class="bi bi-door-open-fill" style="color:red"></i></a>
                    </li>
                </ul>
        </li>
        }
        else if(User.IsInRole(RoleConstants.Admin)){
        <li class="nav-item dropdown">


                <a id="dropdownMenuButton1" class="btn nav-link nav-link-2 text-dark text-center dropdown-toggle" href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false"><strong>
                    @if (Model.Admin.ProfilePicture == null)
                        {
                            <img src="~/img/uploads/DefaultProfilePicture.png" style="width:36px;" class="rounded-circle me-2">
                        }
                        else
                        {
                            <img src="@("~/img/uploads/"+Model.Admin.ProfilePicture)" asp-append-version="true" class="rounded-circle me-2" style="width:36px; object-fit:cover;" alt="image not null" />
                        } @UserManager.GetUserAsync(User).Result.Titles. @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName!</strong></a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item nav-link nav-link-2 text-dark text-center" asp-controller="Users" asp-action="UserProfile" asp-route-id="@userTypeId" title="Manage"><strong>Dashboard</strong></a></li>
                    <li class="nav-item">
                        <a class="dropdown-item nav-link nav-link-2 btn btn-link text-dark text-center" href="#" data-bs-toggle="modal" data-bs-target="#myModal"><strong>Logout</strong> <i class="bi bi-door-open-fill" style="color:red"></i></a>
                    </li>
                </ul>
        </li>
        }
        else if(User.IsInRole(RoleConstants.Receptionist)){
        <li class="nav-item dropdown">


				<a id="dropdownMenuButton1" class="btn nav-link nav-link-2 text-dark text-center dropdown-toggle" href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false"><strong>
                    @if (Model.Receptionist.ProfilePicture == null)
						{
                            <img src="~/img/uploads/DefaultProfilePicture.png" style="width:36px;" class="rounded-circle me-2">
						}
						else
						{
                            <img src="@("~/img/uploads/"+Model.Receptionist.ProfilePicture)" asp-append-version="true" class="rounded-circle me-2" style="width:36px; object-fit:cover;" alt="image not null" />
						} @UserManager.GetUserAsync(User).Result.Titles. @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName!</strong></a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item nav-link nav-link-2 text-dark text-center" asp-controller="Users" asp-action="UserProfile" asp-route-id="@userTypeId" title="Manage"><strong>Dashboard</strong></a></li>
                    <li class="nav-item">
                        <a class="dropdown-item nav-link nav-link-2 btn btn-link text-dark text-center" href="#" data-bs-toggle="modal" data-bs-target="#myModal"><strong>Logout</strong> <i class="bi bi-door-open-fill" style="color:red"></i></a>
                    </li>
                </ul>
        </li>
        }

        
    }
    else
    {
        <li class="nav-item dropdown btn-group d-xs-flex justify-content-center">
            <a class="nav-link text-dark dropdown-toggle" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle-o font-a-icon" style="font-size:30px; color:#1e36cc;" aria-hidden="true"></i></a>
            <ul class="dropdown-menu position-absolute user-dropdown border-0" style="right:0;left:auto;">
                @*<li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-sign-in nav-link nav-link-2" style="color:#1e36cc;" aria-hidden="true"></i><strong>Login</strong> </a></li>*@
                <li><a class="dropdown-item" asp-controller="Login" asp-action="AppUser"><i class="fa fa-sign-in nav-link nav-link-2" style="color:#1e36cc;" aria-hidden="true"></i><strong>Login</strong> </a></li>
                <li><a class="dropdown-item" asp-controller="Register" asp-action="Patient"><i class="fa fa-user-plus nav-link nav-link-2" style="color:#1e36cc;" aria-hidden="true"></i><strong>Register</strong> </a></li>
            </ul>
        </li>
}
</ul>


<div class="modal fade" id="myModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <div class="modal-header">
                    <h5 class="text-danger">Logout</h5>
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to logout?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Logout</button>
                    <span class="btn btn-secondary" data-bs-dismiss="modal">Close</span>
                </div>

            </form>
        </div>
    </div>
</div>

                    

                    @*

                    

                    *@