@model IEnumerable<eNompilo.v3._0._1.Models.Family_Planning.FamilyPRecord>

@{
    ViewData["Title"] = "Records";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Family planning records</h1>
<hr/>
<p>
    <a asp-action="CreateRecord">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOfVisit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                Discontinued
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DosageAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DosageDuration)
            </th>
            <th>
               Appointment
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfVisit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicalNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                    @if (item.IsDiscontinued == true)
                    {
                        <span>Yes</span>
                    }
                    else if (item.IsDiscontinued == false)
                    {
                        <span>No</span>
                    }
                    else
                    {
                        <span>N/A</span> <!-- Display "N/A" for null values -->
                    }
            </td>
               
            <td>
                @Html.DisplayFor(modelItem => item.DosageAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DosageDuration)
            </td>
            <td>
                <a asp-action="RecordAppointmentDetails" asp-route-id="@item.FamilyPlanningAppointmentId">View Appointment</a> |
            </td>
            
            <td>
                    @if (item.IsDiscontinued == false)
                    {
                        <form asp-controller="Family" asp-action="RecordEdit" asp-route-id="@item.Id" method="post" onsubmit="return confirm('Clicking this means the patient no longer requires this contraceptive?');">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-primary">Discontinue Contraceptive</button>
                        </form>

                    }
                    
                    <a asp-action="RecordAppointmentDetails" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="text-center mt-3">
    <a asp-controller="Family" asp-action="IndexList">Back to List</a>
</div>