@model IEnumerable<eNompilo.v3._0._1.Models.GBV.GbvRecommendations>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="margined pt-4">
    <h1>Recommendations List</h1>
    <p>
        <a asp-action="Recommendations">Practitioner Recommendations</a>
    </p>
    <table id="dtRepGbv" class="table table-striped" style="margin-left:auto;margin-right:auto;">
        <thead>
            <tr>
                <th>Practitioner:</th>
                <th>Patient:</th>
                <th>Date of the Recommendation: </th>
                <th>Have you reffered the patient for further medical treatment:</th>
                <th>Please enter your Recommendation here:</th>
                <th></th>             
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Practitioner.Users.FirstName @item.Practitioner.Users.LastName
                    </td>
                    <td>
                        @item.Patient.Users.FirstName @item.Patient.Users.LastName
                    </td>
                    <td>
                        @Html.DisplayFor(ModelItem => item.Date)
                    </td>                  
                        @if(item.Reffered){
                            <td>Yes</td>
                        }
                        else
                        {
                          <td>No</td>  
                        }                   
                    <td>
                        @Html.DisplayFor(ModelItem => item.PractitionerRecommendation)
                    </td>
                    <td>
                        <a asp-action="Update" asp-route-id="@item.Id"><i class="bi bi-pencil-fill" ></i></a>
                        <a asp-action="Cancel" asp-route-id="@item.Id"><i class="bi bi-trash-fill text-danger"></i></a>
                        <a asp-action="View" asp-route-id="@item.Id">Click To View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


