@model eNompilo.v3._0._1.Models.Vaccination.VaccinationAppointment

@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="margined-page pt-4">
	<h1>Details</h1>

	<div>
		<h2>Vaccination Appointment</h2>
		<hr />
		<dl class="row" style="margin-left:auto;margin-right:auto;">
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.BeenVaccinated)
			</dt>
			<dd class="col-sm-10">
				@if (Model.BeenVaccinated)
				{
					<span>I've been vaccinated before.</span>
				}
				else
				{
					<span>I haven't been vaccinated</span>
				}
			</dd>
			@if (Model.BeenVaccinated)
			{
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.PreviousVaccine)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.PreviousVaccine)
				</dd>
			}

			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.IsPregnant)
			</dt>
			<dd class="col-sm-10">
				@if (Model.IsPregnant)
				{
					<span>I am Pregnant</span>
				}
				else
				{
					<span>I am not Pregnant</span>
				}
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.VaccinableDiseases)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.VaccinableDiseases)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.PreferredDate)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.PreferredDate)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.PreferredTime)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.PreferredTime)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Patient)
			</dt>
			<dd class="col-sm-10">
				@Model.Patient.FirstName @Model.Patient.MiddleName @Model.Patient.LastName (@Model.Patient.IdNumber)
			</dd>
		</dl>
	</div>
	<div>
		<a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
		<a asp-action="Index">Back to List</a>
	</div>
</div>



