@model IEnumerable<eNompilo.v3._0._1.Models.GBV.SupportMembership>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="margined-page pt-4">
    <h1>My Details</h1>

    <p>
        <a asp-action="Create">GBV Support Group Registration</a>
    </p>
    <table id="dtRepGbv" class="table table-striped" style="margin-left:auto;margin-right:auto;">
        <thead>
            <tr>
                <th>
                    Please enter your first name: 
                </th>
                <th>
                    Please enter your surname:
                </th>
                <th>
                    Enter Cell Phone number:
                </th>
                <th>
                    Enter your Email Address:
                </th>
                <th>
                    Enter your gender:
                </th>
                <th>
                    Have you ever Reported GBV:
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name) </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                          0
                        @Html.DisplayFor(modelItem => item.Cell)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.gender)
                    </td>
                        @if (item.Reported)
                        {

                        <td>Yes</td>
                    }
                    else
                    {
                        <td>No</td>
                    } 

               
                    <td>
                        <a asp-action="Update" asp-route-id="@item.Id"><i class="bi bi-pencil-fill" ></i></a> 
                        <a asp-action="Cancel" asp-route-id="@item.Id"><i class="bi bi-trash-fill text-danger"></i></a>
                    </td>
                </tr>
                
            }
        </tbody>
    </table>
</div>

